# Folders
.agent/
.codex/
.gradle/
.idea/
.kotlin/
.playwright-mcp/
.util/
.vscode/

build/
gradle/
!gradle/libs.versions.toml
input_images/

captures/
.externalNativeBuild/
.cxx/

# Files
local.properties

output-metadata.json
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml
google-services.json

*.log
*.aab
*.apk
*.iml
*.jks
*.keystore
*.hprof
*.md
*.txt